  <meta property="og:url"           content="https://www.standaard.be/blijkbaar" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="De Standaard" />
  <meta property="og:description"   content="Blijkbaar zijn de dingen niet altijd wat ze schijnbaar zijn" />
  <meta property="og:image"         content="https://dsocdn.akamaized.net/Assets/Images_Upload/2019/09/30/ds_blijkbaar_iets_voor_u.png" />



<style>
/*social*/
ul#social-buttons {
  list-style: none;
  left: -20px;
  top: 11.33rem;
  background-color: #fff;
  border-radius: 20px;
  height: 75px;
  position: fixed;
  padding: 0.33rem 0.5rem 0.25rem 1.5rem;
  -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.28);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  z-index: 999999;
}


#social-buttons img {
    transition: all 400ms ease-in-out;
    width: 20px;
    height: 20px;
}


#social-buttons img:hover {
     transform: scale(1.25);
}


ul#social-buttons li {
  height: 20px;
}


</style> 



    <ul id="social-buttons">
          <li>
          <a href="//www.facebook.com/sharer/sharer.php?u=https://www.standaard.be/blijkbaar" target="_blank">
              <img src="https://dsocdn.akamaized.net/Assets/Images_Upload/2019/08/23/facebook_icon_side.png">
          </a>
        </li>
        <li>
          <a href="//twitter.com/intent/tweet?source=//www.standaard.be/blijkbaar&text=Blijkbaar zijn de dingen niet altijd wat ze schijnbaar zijn&via=destandaard" target="_blank">
                <img src="https://dsocdn.akamaized.net/Assets/Images_Upload/2019/08/23/twitter_icon_side.png">
            </a>
        </li>
    </ul>