<style>
    .cta_rect {
    display: inline-block;
    background: #b70e0b;
    padding: 0.75rem 1rem;
    border-bottom: 5px solid #870a09;
    font-weight: bold;
    margin-top: 1rem;
    text-align: left;
    font-size: 1.15em;
    transition: all 250ms ease-in;
    }

        .cta_rect:hover {
    background: #da1311;
    border-bottom: 5px solid #b70e0b;
    }

.cta_rect a {
    color: white;
    text-decoration: none;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

.cta_rect a:after {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 0.85em;
    margin-left: 0.85rem;
    position: relative;
    top: 0.05rem;
}

</style>

<div class="cta_rect">
                    <a href="#">{{ text }}</a>
                </div>


<script src="https://kit.fontawesome.com/3781c81575.js"></script>