<style>

/*enkel voor preview*/
body {min-height: 300vh;}

</style>

<style>
#button {
    display: inline-block;
    background-color: #ee879f;
    width: 50px;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.28);
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 55px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #f00c59;
}
#button:active {
  background-color: #f00c59;
}
#button.show {
  opacity: 1;
  visibility: visible;
}


@media (min-width: 500px) {

  #button {
    margin: 30px;
  }
}

@media (max-width: 576px) {

  #button {
    bottom: 30px;
    right: 10px;
  }
}
</style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">

<h1>Scroll naar beneden</h1>
<a id="button"></a>

<script>
var btn = $('#button');

$(window).scroll(function() {
  if ($(window).scrollTop() > 750) {
    btn.addClass('show');
  } else {
    btn.removeClass('show');
  }
});

btn.on('click', function(e) {
  e.preventDefault();
  $('html, body').animate({scrollTop:0}, '750');
});


</script>